/* <--========= VARIABLES =========--> */

:root {
	/* HSL*/
	--primary-color: hsl(0, 0%, 55%);
	--text-color: hsl(0, 0%, 0%);
	--hover-color: hsl(0, 0%, 20%);
	--bg-color: hsl(0, 0%, 82%);
}

body {
	background: var(--bg-color);
}

body.dark {
	--primary-color: hsl(0, 0%, 10%);
	--text-color: hsl(0, 0%, 70%);
	--hover-color: hsl(0, 0%, 90%);
	--bg-color: hsl(0, 0%, 30%);
}

/* <--========== NAV BAR ==========--> */

.nav-bar {
	background-color: var(--primary-color);
}

.nav-link {
	color: var(--text-color);
}

.nav-link:hover {
	color: var(--hover-color);
}

.profile img {
	outline: 2px solid var(--text-color);
}

.profile a::after {
	color: var(--text-color);
}

.profile:hover a::after, 
.profile a[aria-expanded="true"]::after{
	color: var(--hover-color);
}

.dark .dropdown-menu {
	background-color: var(--primary-color);
	border: 1px solid var(--text-color);
}

.dark .dropdown li * {
	color: var(--text-color);
}

.dark .dropdown button {
	color: var(--text-color);
}

.dark .dropdown .dropdown-item:hover {
	color: var(--hover-color);
	background-color: transparent;
}

.dark .dropdown ul li a,
.dark .dropdown ul li {
	color: var(--text-color);
}

.dark .dropdown ul li:hover a {
	color: var(--hover-color);
	background-color: transparent;
}



